/*Load google font*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');



body {
    line-height: 1;
    font-family: lato, ubuntu,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    text-rendering : optimizeLegibility;
    -webkit-font-smoothing : antialiased;
    font-size: 19px;
    /*	background-color: #FEFEFE;
    color: #04143A;
     *	*/
    background-color: rgba(0,0,0,0.85);
    color: #fff;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    color: #15171a;
    font-size: 17;
    line-height: 31px;
}

strong {
    font-weight: 600;
}

div{
    box-sizing: border-box;
}


.top {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.top h1 {
    font-size: 48px;
}

.tags .job-title {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    background-color: #D9E7F8;
    color: #4A90E2;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
}

.tags {
    margin-bottom: 8px;
}

.top .me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.top .me img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.top .lead {
    line-height: 2;
}

.top .nav {
    margin-bottom: 20px;
}

.top .nav a {
    text-decoration:none;
    padding: 20px;
}

.top .nav a span {

    padding: 4px;
    font-size: 25px;
    color: white;
    text-decoration:none;
    border-bottom: 2px solid red;
}

.top .nav a span:hover {
    color: red;
    transition: 0.5s;
    cursor: pointer;
}

.email {
    display: block;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    margin-top: 10px;
}

.contact {
    color: red;
    display: flex;
    justify-content: center;
    height: 4vh;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.contact a {
    color: #fff;
    font-size: 24px;
    margin: 10px 20px;
}

.top .arrow {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 56px;
    bottom: 56px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8; }

.container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 32px 128px;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);

}

.container .sections {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.sections .list-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    flex-direction: column;
}

.list-section .tags {
    display: flex;
}
.list-section .tags span {
    margin: 4px;
    background-color: #D9E7F8;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    color: #4A90E2;
}

.experience {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.cards {
    display: flex;
    flex-direction: column;
    padding: 32px 128px;
    background-color: rgba(0,0,0,0.85);
    padding: 32px 80px;
}

.card {
    display: flex;
    width: 100%;
    background-color: #D9E7F8;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    margin: 20px;
}

.card-active , .card:hover{
    transform: scale(1.02);
    transition: 0.5s;
    background-color: #fff;
    box-shadow: 0px 5px 50px -8px #ddd;
    cursor: pointer;
}


.skill-level {
    display: inline-block;
    max-width: 160px;
}

.skill-level span {
    font-size: 35px;
    font-weight: 300;
    color: #5B6A9A;
    vertical-align: top;
}

.skill-level h2 {
    font-size: 95px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    color: #5B6A9A;
    letter-spacing: -5px;
}

.skill-meta {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    margin: 18px;
    flex-basis: 80%;
}

.skill-meta h3 {
    font-size: 20px;
    font-weight: 800;
    color: #5B6A9A;
    margin: 6px 0;
}

.skill-meta h4 {
    font-size: 16px;
    font-weight: 600;
    color: #5B6A9A;
    margin: 2px 0;
}

.skill-meta span{
    color: #81899C;
    line-height: 20px;
    margin: 5px;
    font-size: 16px;
}

.stack {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.stack h3 {
    font-size: 20px;
    font-weight: 800;
    color: #5B6A9A;
    margin: 6px 0;
}

.stack .tags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    margin-top: 20px;
}
.stack .tags span {
    margin: 4px;
    background-color: #fff;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    color: #bb0000;
}





@media(max-width: 1024px){
    .container {
        padding: 15px;
        margin: 0px auto;
    }
    .cards {
        margin-top: 250px;
    }
}

@media(max-width: 768px){
    .container {
        padding: 15px;
        margin: 0px auto;
    }
    .cards {
        margin-top: 320px;
    }

    .card {
        padding: 15px;
        text-align: left;
    }
    .card h2 {
        font-size: 70px;
    }
    .card , .sections {
        width: 100%;
        height: auto;
        margin: 10px 0;
        float: left;
    }


@media(max-width: 425px) {
    .top h1 {
        font-size: 40px;
        margin: 10px;
    }
    .card , .sections {
        width: 100%;
        height: auto;
        margin: 10px 0;
        float: left;
    }

    .container {
        margin: 0px;
    }
    .container .sections {
        margin: 0;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container .sections .list-section {
        margin: 0;
    }

    .container .sections .list-section .tags {
        flex-wrap: wrap;
        margin: 0;
    }
}

